In [2]:
from api import MovieApi 
import pandas as pd
import numpy as np

# Gather data needed for movie analysis

In [3]:
# get movie data
session = MovieApi()
# movies = session.get_top_rated_movies().json()

In [4]:
# read movie data from "db" 
top_movies = pd.read_csv('./top_rated_movies33.csv').drop(columns= ['Unnamed: 0'],axis=1)
print(top_movies.shape)
top_movies

(10000, 14)

,adult,backdrop_path,genre_ids,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",119.411,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,17619
1,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,108.339,/hBcY0fE9pfXzvVaY4GKarweriG2.jpg,1994-09-23,The Shawshank Redemption,False,8.7,23463
2,False,/ejniJnlOdtSgtbh8D7u2RxT6Uli.jpg,"[35, 14]",772071,es,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,59.051,/6gIJuFHh5Lj4dNaPG3TzIMl7L68.jpg,2022-09-14,Cuando Sea Joven,False,8.7,211
3,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,74.914,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.6,10674
4,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,63.594,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.6,13876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,/zhLcgqoIDvxNZPtvQ1PYloGalXs.jpg,"[53, 27, 9648]",61012,en,Silent Hill: Revelation 3D,Heather Mason and her father have been on the ...,41.568,/xBC7bHZ5UglTw4LMd2lTSgXvQXl.jpg,2012-10-10,Silent Hill: Revelation 3D,False,5.5,1387
9996,False,/g9ekJY8zNxQ9J3cRYQHzRwiObuq.jpg,"[10749, 35]",11812,en,The Sweetest Thing,Christina's love life is stuck in neutral. Aft...,15.915,/qLysz4B5YmiDq52Op0zq4eD75LC.jpg,2002-04-12,The Sweetest Thing,False,5.5,934
9997,False,/eqZ5t82asfprFcNS56eVruNT5G5.jpg,"[10751, 35]",10481,en,102 Dalmatians,Get ready for a howling good time as an all ne...,18.685,/dSxnIika9yWwTvEbpsmoGdeh65E.jpg,2000-11-21,102 Dalmatians,False,5.5,1202
9998,False,/gdF4eUHLeEizqTdSGoqfWPIdDX6.jpg,[35],450179,fr,Problemos,"When a pandemic strikes the world, Victor and ...",6.521,/12KzS7zZ2Kj4p556lvR7UtJsQoT.jpg,2017-05-10,Problemos,False,5.5,347
9999,False,/1u7TuvR5mSUz2xRQhz01i75IwdT.jpg,"[80, 53, 28]",201088,en,Blackhat,"Nicholas Hathaway, a furloughed convict, and h...",32.736,/7zu6HPnKPjNA7NuR4DGRdaH0PdX.jpg,2015-01-13,Blackhat,False,5.5,1810

# clean data gathered to prep for analysis

### clean genre data

In [5]:
# get movie genre info #
genres = session.get_movie_genre_list().json()['genres']
new_genre_columns = [str(g['id']) + '_' + str(g['name']) for g in genres] # checkout list comprehesion https://www.digitalocean.com/community/tutorials/understanding-list-comprehensions-in-python-3
# new_genre_columns = [str(g['id']) for g in genres] # just makes the columns name the genre_id

# remove spaces in genre names #
for i, val in enumerate(new_genre_columns):
    new_genre_columns[i] = val.replace(' ','_')
# new_genre_columns

# create new genre columns and fill the columns with 0 #
for g in new_genre_columns:
    top_movies[g] = 0

# pre-clean original genre ids #
top_movies['genre_ids'] = top_movies['genre_ids'].astype(str).apply(lambda a : a.strip(']').strip('['))
top_movies.tail()


# top_movies.columns
# top_movies.shape

,adult,backdrop_path,genre_ids,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,...,36_History,27_Horror,10402_Music,9648_Mystery,10749_Romance,878_Science_Fiction,10770_TV_Movie,53_Thriller,10752_War,37_Western
9995,False,/zhLcgqoIDvxNZPtvQ1PYloGalXs.jpg,"53, 27, 9648",61012,en,Silent Hill: Revelation 3D,Heather Mason and her father have been on the ...,41.568,/xBC7bHZ5UglTw4LMd2lTSgXvQXl.jpg,2012-10-10,...,0,0,0,0,0,0,0,0,0,0
9996,False,/g9ekJY8zNxQ9J3cRYQHzRwiObuq.jpg,"10749, 35",11812,en,The Sweetest Thing,Christina's love life is stuck in neutral. Aft...,15.915,/qLysz4B5YmiDq52Op0zq4eD75LC.jpg,2002-04-12,...,0,0,0,0,0,0,0,0,0,0
9997,False,/eqZ5t82asfprFcNS56eVruNT5G5.jpg,"10751, 35",10481,en,102 Dalmatians,Get ready for a howling good time as an all ne...,18.685,/dSxnIika9yWwTvEbpsmoGdeh65E.jpg,2000-11-21,...,0,0,0,0,0,0,0,0,0,0
9998,False,/gdF4eUHLeEizqTdSGoqfWPIdDX6.jpg,35,450179,fr,Problemos,"When a pandemic strikes the world, Victor and ...",6.521,/12KzS7zZ2Kj4p556lvR7UtJsQoT.jpg,2017-05-10,...,0,0,0,0,0,0,0,0,0,0
9999,False,/1u7TuvR5mSUz2xRQhz01i75IwdT.jpg,"80, 53, 28",201088,en,Blackhat,"Nicholas Hathaway, a furloughed convict, and h...",32.736,/7zu6HPnKPjNA7NuR4DGRdaH0PdX.jpg,2015-01-13,...,0,0,0,0,0,0,0,0,0,0

In [6]:
most_important_cols = ['genre_ids',
'28_Action', '12_Adventure', '16_Animation', '35_Comedy', '80_Crime',
       '99_Documentary', '18_Drama', '10751_Family', '14_Fantasy',
       '36_History', '27_Horror', '10402_Music', '9648_Mystery',
       '10749_Romance', '878_Science_Fiction', '10770_TV_Movie', '53_Thriller',
       '10752_War', '37_Western']

In [7]:
'''
df_size = test.shape[0]

for i in range(df_size):
    # test.iloc[[row]] # you have an individual row whoop whoop
    # take the string of genres and make it a list
    row = test.iloc[[i]].copy() # do all your work on a copy of the row to avoid a warning
    genre_str = row['genre_ids'].to_string().split('    ')
    genre_str.pop(0)
    genre_list = genre_str[0].split(', ')
    
    # go through the list of genres 
    for genre in genre_list:
        # and for each genre in the list update the matching column
        row[genre] = str(genre) 
        test.iloc[[i]] = pd.Series(row) #set the orginal row equal to the copy

# things i can abstract
def wash_genre_ids(df):
    genre_str = df['genre_ids'].to_string().split('    ')
    genre_str.pop(0)
    genre_list = genre_str[0].split(', ')
    return genre_list

wash_genre_ids(test)
'''

"\ndf_size = test.shape[0]\n\nfor i in range(df_size):\n    # test.iloc[[row]] # you have an individual row whoop whoop\n    # take the string of genres and make it a list\n    row = test.iloc[[i]].copy() # do all your work on a copy of the row to avoid a warning\n    genre_str = row['genre_ids'].to_string().split('    ')\n    genre_str.pop(0)\n    genre_list = genre_str[0].split(', ')\n    \n    # go through the list of genres \n    for genre in genre_list:\n        # and for each genre in the list update the matching column\n        row[genre] = str(genre) \n        test.iloc[[i]] = pd.Series(row) #set the orginal row equal to the copy\n\n# things i can abstract\ndef wash_genre_ids(df):\n    genre_str = df['genre_ids'].to_string().split('    ')\n    genre_str.pop(0)\n    genre_list = genre_str[0].split(', ')\n    return genre_list\n\nwash_genre_ids(test)\n"

#### use regex! thanks to Hannah ðŸ’ƒ
regex for each genre and when its found update that genre's column

In [8]:
''' 
 Regex Approach ðŸ’ƒ
# Da Plan...
# use np.select(condition , values) to update the new genre colunms 
# conditions would be using regex and checking if "???" genre is 
    # in the string value found in the orifinal genre column
# the values for each condition would be the genre id or 1 if that doesn't work 
'''
 # come back later, much later and try to use .loc[row_indexer,col_indexer] = value

# fill new columns if that genere applies
top_movies['12_Adventure'] = np.select([(top_movies['genre_ids'].str.contains(r'12'))],[1])# [12])
top_movies['14_Fantasy'] = np.select([(top_movies['genre_ids'].str.contains(r'14'))],[1])#[14])
top_movies['16_Animation'] = np.select([(top_movies['genre_ids'].str.contains(r'16'))],[1])#[16])
top_movies['18_Drama'] = np.select([(top_movies['genre_ids'].str.contains(r'18'))],[1])#[18])
top_movies['27_Horror'] = np.select([(top_movies['genre_ids'].str.contains(r'27'))],[1])#[27])
top_movies['28_Action'] = np.select([(top_movies['genre_ids'].str.contains(r'28'))],[1])#[28])
top_movies['35_Comedy'] = np.select([(top_movies['genre_ids'].str.contains(r'35'))],[1])#[35])
top_movies['36_History'] = np.select([(top_movies['genre_ids'].str.contains(r'36'))],[1])#[36])
top_movies['37_Western'] = np.select([(top_movies['genre_ids'].str.contains(r'37'))],[1])#[37])
top_movies['53_Thriller'] = np.select([(top_movies['genre_ids'].str.contains(r'53'))],[1])#[53])
top_movies['80_Crime'] = np.select([(top_movies['genre_ids'].str.contains(r'80'))],[1])#[80])
top_movies['99_Documentary'] = np.select([(top_movies['genre_ids'].str.contains(r'99'))],[1])#[99])
top_movies['878_Science_Fiction'] = np.select([(top_movies['genre_ids'].str.contains(r'878'))],[1])#[878])
top_movies['9648_Mystery'] = np.select([(top_movies['genre_ids'].str.contains(r'9648'))],[1])#[9648])
top_movies['10402_Music'] = np.select([(top_movies['genre_ids'].str.contains(r'10402'))],[1])#[10402])
top_movies['10749_Romance'] = np.select([(top_movies['genre_ids'].str.contains(r'10749'))],[1])#[10749])
top_movies['10751_Family'] = np.select([(top_movies['genre_ids'].str.contains(r'10751'))],[1])#[10751])
top_movies['10752_War'] = np.select([(top_movies['genre_ids'].str.contains(r'10752'))],[1])#[10752])
top_movies['10770_TV_Movie'] = np.select([(top_movies['genre_ids'].str.contains(r'10770'))],[1])#[10770])

In [9]:
session.get_languages().json()

{'status_code': 7,
 'status_message': 'Invalid API key: You must be granted a valid key.',
 'success': False}

In [10]:
top_movies[most_important_cols]

,genre_ids,28_Action,12_Adventure,16_Animation,35_Comedy,80_Crime,99_Documentary,18_Drama,10751_Family,14_Fantasy,36_History,27_Horror,10402_Music,9648_Mystery,10749_Romance,878_Science_Fiction,10770_TV_Movie,53_Thriller,10752_War,37_Western
0,"18, 80",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,"18, 80",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,"35, 14",0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,"18, 80",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,"18, 36, 10752",0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"53, 27, 9648",0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
9996,"10749, 35",0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
9997,"10751, 35",0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9998,35,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9999,"80, 53, 28",1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [11]:
# from sklearn.preprocessing import OneHotEncoder

# test_df = top_movies.head(3)

# columns_to_encode = ['28_Action', '12_Adventure', '16_Animation', 
#     '35_Comedy', '80_Crime','10752_War', '37_Western',
#     '99_Documentary', '18_Drama', '10751_Family', '14_Fantasy',
#     '36_History', '27_Horror', '10402_Music', '9648_Mystery',
#     '10749_Romance', '878_Science_Fiction', '10770_TV_Movie', '53_Thriller']

# ohe = OneHotEncoder(handle_unknown='ignore')
# X = test_df[columns_to_encode]
# ohe_transformed = ohe.fit(X)
# ohe_transformed = ohe.transform(X).toarray()
# ohe_columns = ohe.get_feature_names_out()
# enc = pd.DataFrame(ohe_transformed,columns=ohe_columns)
# df = pd.concat([test_df.reset_index(drop=True), enc.reset_index(drop=True)],axis=1) # add columns to original dataframe
# df.drop(df[columns_to_encode], axis=1,inplace=True)

### clean date column

In [12]:
# top_movies[['adult', 'backdrop_path', 'genre_ids', 'movie_id', 'original_language',
#        'original_title', 'overview', 'popularity', 'poster_path',
#        'release_date', 'title', 'video', 'vote_average', 'vote_count']].head(2)

In [13]:
top_movies['release_date'] = pd.to_datetime(top_movies['release_date'])
top_movies['release_year'] = top_movies['release_date'].dt.year
top_movies['release_month'] = top_movies['release_date'].dt.month
top_movies['release_day_of_week'] = top_movies['release_date'].dt.dayofweek
top_movies['release_day_of_year'] = top_movies['release_date'].dt.dayofyear
top_movies.head(4)

,adult,backdrop_path,genre_ids,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,...,10749_Romance,878_Science_Fiction,10770_TV_Movie,53_Thriller,10752_War,37_Western,release_year,release_month,release_day_of_week,release_day_of_year
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"18, 80",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",119.411,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,...,0,0,0,0,0,0,1972,3,1,74
1,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"18, 80",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,108.339,/hBcY0fE9pfXzvVaY4GKarweriG2.jpg,1994-09-23,...,0,0,0,0,0,0,1994,9,4,266
2,False,/ejniJnlOdtSgtbh8D7u2RxT6Uli.jpg,"35, 14",772071,es,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,59.051,/6gIJuFHh5Lj4dNaPG3TzIMl7L68.jpg,2022-09-14,...,0,0,0,0,0,0,2022,9,2,257
3,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"18, 80",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,74.914,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,...,0,0,0,0,0,0,1974,12,4,354

In [14]:
# top_movies['adult'].unique() ## array([False])
# top_movies['original_language'].unique() ##44
# top_movies['original_title'].unique()
# top_movies['popularity'].unique()
# top_movies['video'].unique() ##array([False])
# top_movies['vote_average'].unique()
# top_movies['vote_count'].unique()
# top_movies['date'].unique()
# top_movies['release_year'].unique()
# top_movies['release_month'].unique() ##array([ 3,  9, 12, 10,  7,  4,  8,  5,  6,  2, 11,  1])
# top_movies['release_day_of_week'].unique() ##array([1, 4, 2, 3, 6, 0, 5])
# top_movies['release_day_of_year'].unique()
# top_movies.drop(columns=['date'], index=1, inplace=True)
top_movies.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'movie_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count',
       '28_Action', '12_Adventure', '16_Animation', '35_Comedy', '80_Crime',
       '99_Documentary', '18_Drama', '10751_Family', '14_Fantasy',
       '36_History', '27_Horror', '10402_Music', '9648_Mystery',
       '10749_Romance', '878_Science_Fiction', '10770_TV_Movie', '53_Thriller',
       '10752_War', '37_Western', 'release_year', 'release_month',
       'release_day_of_week', 'release_day_of_year'],
      dtype='object')

In [15]:
ml_data = top_movies[[ 'genre_ids', 'movie_id', 'title', 'original_title', 'original_language',
       'popularity', 'vote_average', 'vote_count',
       'release_date', 'release_year', 'release_month',
       'release_day_of_week', 'release_day_of_year']].copy()

vis_data = top_movies[['genre_ids', 'movie_id', 'original_language',
       'original_title', 'overview', 'popularity', 'release_year', 'release_month',
       'release_day_of_week', 'release_day_of_year', 'release_date', 'title', 
       'vote_average', 'vote_count','28_Action', '12_Adventure', '16_Animation', 
       '35_Comedy', '80_Crime','10752_War', '37_Western',
       '99_Documentary', '18_Drama', '10751_Family', '14_Fantasy',
       '36_History', '27_Horror', '10402_Music', '9648_Mystery',
       '10749_Romance', '878_Science_Fiction', '10770_TV_Movie', '53_Thriller',
       ]]
vis_data.shape

(10000, 33)

In [16]:
# vis_data[most_important_cols].columns.to_list().sort()
# vis_data[most_important_cols]

In [17]:
# save data for later
# ml_data.to_csv('data/ml_data_05_06.csv')
# vis_data.to_csv('data/vis_data_05_06.csv')

### what left before any modeling

To do/ what we got:
1. dates (get year and maybe week number in the year)
    - detrend
    - categorize
    - transform into a number
        - normalize the dates
2. images (nothing atm)
    - nn...cnn
3. overview/description (nothing atm)
    - something for a total different day lol

In [18]:
# check genre count against tableau view
print(vis_data[most_important_cols]['28_Action'].sum(),'Action movies')
print(vis_data[most_important_cols]['10749_Romance'].sum(),'Romance movies')
print(vis_data[most_important_cols]['9648_Mystery'].sum(),'Mystery movies')
print(vis_data[most_important_cols]['10402_Music'].sum(),'Music movies')
print(vis_data[most_important_cols]['878_Science_Fiction'].sum(),'Science_Fiction movies')
print(vis_data[most_important_cols]['10770_TV_Movie'].sum(),'TV_Movie movies')

2204 Action movies
1757 Romance movies
902 Mystery movies
307 Music movies
1072 Science_Fiction movies
148 TV_Movie movies

Lets see some movie posters!!!

In [21]:
top_movies.head(2)

,adult,backdrop_path,genre_ids,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,...,10749_Romance,878_Science_Fiction,10770_TV_Movie,53_Thriller,10752_War,37_Western,release_year,release_month,release_day_of_week,release_day_of_year
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"18, 80",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",119.411,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,...,0,0,0,0,0,0,1972,3,1,74
1,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"18, 80",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,108.339,/hBcY0fE9pfXzvVaY4GKarweriG2.jpg,1994-09-23,...,0,0,0,0,0,0,1994,9,4,266

In [22]:
session_2 = MovieApi(movie_id='155')

In [57]:
image_info = session_2.get_movie_images(movie_id='664767').json()

In [58]:
image_info.keys()

dict_keys(['backdrops', 'id', 'logos', 'posters'])

In [59]:
image_info['posters'][0]["file_path"]

'/4VlXER3FImHeFuUjBShFamhIp9M.jpg'

In [60]:
image_info['posters']

[{'aspect_ratio': 0.667,
  'height': 1500,
  'iso_639_1': 'en',
  'file_path': '/4VlXER3FImHeFuUjBShFamhIp9M.jpg',
  'vote_average': 5.456,
  'vote_count': 7,
  'width': 1000},
 {'aspect_ratio': 0.667,
  'height': 3000,
  'iso_639_1': 'en',
  'file_path': '/iBvo3qOPcmhlqAaJcXcQHtx2qLk.jpg',
  'vote_average': 5.388,
  'vote_count': 4,
  'width': 2000},
 {'aspect_ratio': 0.667,
  'height': 3000,
  'iso_639_1': 'pt',
  'file_path': '/zO5913BWcWYrhgACNpaaw9CCycX.jpg',
  'vote_average': 5.384,
  'vote_count': 2,
  'width': 2000},
 {'aspect_ratio': 0.667,
  'height': 3000,
  'iso_639_1': 'de',
  'file_path': '/mo5Zsj4twtixhyeYZshBOM62lcN.jpg',
  'vote_average': 5.312,
  'vote_count': 1,
  'width': 2000},
 {'aspect_ratio': 0.667,
  'height': 1500,
  'iso_639_1': 'en',
  'file_path': '/eZUKL05Wa8jzEFamFWJxfU1KdPj.jpg',
  'vote_average': 5.312,
  'vote_count': 1,
  'width': 1000},
 {'aspect_ratio': 0.667,
  'height': 1500,
  'iso_639_1': 'en',
  'file_path': '/utRSbu7nCXfwkwPDI0ectIA26Dn.jpg',
  'vote_average': 5.19,
  'vote_count': 5,
  'width': 1000},
 {'aspect_ratio': 0.667,
  'height': 3000,
  'iso_639_1': 'en',
  'file_path': '/wNseTNFpPekpo4NrjbgPjd0W5tu.jpg',
  'vote_average': 5.172,
  'vote_count': 1,
  'width': 2000},
 {'aspect_ratio': 0.697,
  'height': 1609,
  'iso_639_1': 'en',
  'file_path': '/mxvKxJRhjj85Ug05syh4FhYHba7.jpg',
  'vote_average': 5.106,
  'vote_count': 2,
  'width': 1122},
 {'aspect_ratio': 0.75,
  'height': 1000,
  'iso_639_1': 'zh',
  'file_path': '/4nTBIFNaEpFgUcSMGpyxScWmP5y.jpg',
  'vote_average': 0.0,
  'vote_count': 0,
  'width': 750},
 {'aspect_ratio': 0.732,
  'height': 1133,
  'iso_639_1': 'zh',
  'file_path': '/sRMmevZjD9PQzpGcU9MXZPaXZ4u.jpg',
  'vote_average': 0.0,
  'vote_count': 0,
  'width': 829},
 {'aspect_ratio': 0.666,
  'height': 751,
  'iso_639_1': 'uk',
  'file_path': '/jQ6X6QKPtuHEbsyPezawftKCkMO.jpg',
  'vote_average': 0.0,
  'vote_count': 0,
  'width': 500},
 {'aspect_ratio': 0.675,
  'height': 1600,
  'iso_639_1': 'ru',
  'file_path': '/t4blfxA4rIqUD49gyU6txgeaRT9.jpg',
  'vote_average': 0.0,
  'vote_count': 0,
  'width': 1080},
 {'aspect_ratio': 0.667,
  'height': 1500,
  'iso_639_1': 'he',
  'file_path': '/lAS7w5kz905UoyFrl4wnJSvD712.jpg',
  'vote_average': 0.0,
  'vote_count': 0,
  'width': 1000},
 {'aspect_ratio': 0.667,
  'height': 1440,
  'iso_639_1': 'es',
  'file_path': '/sqBl12v4AXVoc5PmeGnd8oZ7HHY.jpg',
  'vote_average': 0.0,
  'vote_count': 0,
  'width': 960},
 {'aspect_ratio': 0.667,
  'height': 750,
  'iso_639_1': 'en',
  'file_path': '/3RoVTI5PXwInDn7RMUgXKg3AFXP.jpg',
  'vote_average': 0.0,
  'vote_count': 0,
  'width': 500},
 {'aspect_ratio': 0.667,
  'height': 3000,
  'iso_639_1': 'en',
  'file_path': '/whX0HAR5pjrNQHpcyDbNNR8RDfs.jpg',
  'vote_average': 0.0,
  'vote_count': 0,
  'width': 2000}]

In [61]:
from dotenv import load_dotenv
load_dotenv()
import os 
import requests

In [64]:
image_path =image_info['posters'][0]["file_path"]
file_size = 'w500' #sizes go from w300-w500
# resonse = requests.get('https://image.tmdb.org/t/p/'+ file_size + image_path)# + os.environ.get('MOVIE_API_KEY'))

In [65]:
'https://image.tmdb.org/t/p/'+ file_size + image_path

'https://image.tmdb.org/t/p/w500/4VlXER3FImHeFuUjBShFamhIp9M.jpg'